[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flake8 = "*"
docx = "*"
docxtpl = "*"
config = "*"
setuptools = "*"
pyinstaller = "*"

[requires]
python_version = "3.8"

[scripts]
build = "pyinstaller --onefile main.py --hidden-import=pkg_resources.py2_warn --windowed"
dev = "python main.py"
